<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  	<time datetime="<%= date_xml(post.updated) %>" itemprop="datePublished"><i class="icon-calendar icon"></i>Updated: <%= date(post.updated, date_format) %></time>
</a>
